{% extends "base.html" %}

{% block content %}
<a style="margin-left: 1%;" data-toggle="tooltip" data-placement="bottom" title="Вернуться на начальную страницу" href="/" class="btn btn-info">
        На главную</a>
<h1 style="text-align: center">О проекте</h1>

<div style="background-color: #fffaf0;margin-left: auto; margin-right: auto; max-width: 72%">
    <h4>Планы</h4>
    <ul>
        <li>Добавить раздел комментариев</li>
        <li>Пополнить базу данных другими продуктами</li>
    </ul>

    <h4>Инструкция</h4>
    <ul>
        <li>Для использовани всех возможностей: сохранение, просмотр, коррекции - нужно зарегистрироваться в системе</li>
        <li>Чтоб создать и сохранить новое расписание, зайдите в систему и нажмить кнопку <b>"Добавить новое расписание на день"</b></li>
        <ul>
            <li>В открывшемся окне необходимо нажать на одну из трёх кнопок <b>"Добавить ячейку"</b>, чтоб добавить выбор в соответствующий столбец</li>
            <li>Далее выбираем желаемый продукт из списка, с возможностью поиска</li>
            <li>В нижней части окна можно быстро посмотреть общую статистику (обновляется после любого действия на странице)</li>
        </ul>
        <li>Так же можно расчитать витамин К без регистрации, нажав на <b>"Расчитать без регистрации"</b>, но без сохранения результата (работает аналогично)</li>
    </ul>

    <h4>Рекомендации для использования</h4>
    <ul>
        <li>Использовать приложение лучше всего на компьютере</li>
        <li>Использовать браузер <b>"Chrome"</b></li>
    </ul>

    <h4>Источник информации</h4>
    <ul>
        <li>Определяем</li>
    </ul>
    <br>
    <p><b>При обнаружение каких-либо ошибок <a href="mailto:pavelpolkovnikov334@gmail.com">писать на почту</a></b></p>
</div>

{% endblock %}
