{% extends "base.html" %}

{% block content %}
<a style="margin-left: 1%;" data-toggle="tooltip" data-placement="bottom" title="Вернуться на начальную страницу" href="/" class="btn btn-info">
        На главную</a>
<h1 style="text-align: center">О проекте</h1>

<div style="background-color: #fffaf0;margin-left: auto; margin-right: auto; max-width: 72%">
    <h4>Планы</h4>
    <ul>
        <li>Добавить раздел комментариев</li>
        <li>Пополнить базу данных другими продуктами</li>
    </ul>

    <h4>Инструкция</h4>
    <ul>
        <li>Для использовани всех возможностей: сохранение, просмотр, коррекции - нужно зарегистрироваться в системе</li>
        <li>Чтоб создать и сохранить новое расписание, зайдите в систему и нажмить кнопку <b>"Добавить новое расписание на день"</b></li>
        <ul>
            <li>В открывшемся окне необходимо нажать на одну из трёх кнопок <b>"Добавить ячейку"</b>, чтоб добавить выбор в соответствующий столбец</li>
            <li>Далее выбираем желаемый продукт из списка, с возможностью поиска</li>
            <li>В нижней части окна можно быстро посмотреть общую статистику (обновляется после любого действия на странице)</li>
        </ul>
        <li>Так же можно расчитать витамин К без регистрации, нажав на <b>"Расчитать без регистрации"</b>, но без сохранения результата (работает аналогично)</li>
    </ul>

    <h4>Рекомендации для использования</h4>
    <ul>
        <li><h6 style="color: red;">Прежде чем пользоваться этим калькулятором обязательно проконсультируйтесь с вашим врачом</h6></li>
        <li>Использовать приложение лучше всего на компьютере</li>
        <li>Использовать браузер <b>"Chrome"</b></li>
    </ul>

    <h4>Источник информации</h4>
    <ul>
        <li><a href="http://ngmu.ru/cozo/mos/article/text_full.php?id=1298">статья из журнала № 2 - 2014 г. 14.00.00 медицинские науки</a></li>
        <li><a href="https://cyberleninka.ru/article/n/svyaz-soderzhaniya-vitamina-k-v-ratsione-s-effektivnostyu-terapii-nepryamymi-antikoagulyantami">https://cyberleninka.ru/article/n/svyaz-soderzhaniya-vitamina...</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/9066002">https://www.ncbi.nlm.nih.gov/pubmed/9066002</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/10858697">https://www.ncbi.nlm.nih.gov/pubmed/10858697</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/2045759">https://www.ncbi.nlm.nih.gov/pubmed/2045759</a></li>
        <li><a href="https://online.zakon.kz/Document/?doc_id=30624037">https://online.zakon.kz/Document/?doc_id=30624037</a></li>
        <li><a href="http://www.gvv2.ru/media/Памятка%20Варфарин.pdf">http://www.gvv2.ru/media/Памятка%20Варфарин.pdf</a></li>
        <li><a href="https://health-diet.ru/health_diet/app/CalcNorm.php">https://health-diet.ru/health_diet/app/CalcNorm.php</a></li>
        <li><a href="http://frs24.ru/st/soderzhanie-vitamina-k-v-produktah/">http://frs24.ru/st/soderzhanie-vitamina-k-v-produktah/</a></li>
        <li><a href="https://libemed.ru/vitamin-k-v-produktax/">https://libemed.ru/vitamin-k-v-produktax/</a></li>

    </ul>
    <br>
    <h4>Разработчикам</h4>
    <ul>
        <li><b><a href="/developers">Документация</a></b></li>
    </ul>
    <p><b>При обнаружение каких-либо неполадок <a href="mailto:pavelpolkovnikov334@gmail.com">писать на почту</a></b></p>
</div>

{% endblock %}
