{% extends "base.html" %}

{% block content %}
<a style="margin-left: 1%;" data-toggle="tooltip" data-placement="bottom" title="Вернуться на начальную страницу" href="/" class="btn btn-info">
        На главную</a>
<h1 style="text-align: center">О проекте</h1>

<div style="background-color: #fffaf0;margin-left: auto; margin-right: auto; max-width: 72%">
    <a>yvgubhinomyvubhinjomkp,uybomikp</a>



</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
