{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center">Обзор расписания продуктов на день</h1>
<form action="" method="post">

    <div class="form-group" style="width: 20%;margin-left: 5%">
        <label for="inputDate">Дата:</label>
        <input type="date" name="date" value="{{ date }}" min="{{ date }}" max="{{ date }}" class="form-control">
    </div>

    <div class="block" style="margin-left: 5%; display: inline-block;width: 30%">

    <a><div class="p-1" style="background-color: #d9d9d9;text-align: center">
        Продуктов: {{ values[3] }}
    </div></a>
    <table class="table table-sm table-inverse" style="margin-right: auto; max-width: 100%">
        <thead>
            <tr class="table-active">
            <th style="width:65%">Продукт</th>
            <th style="width:24%">Вес продукта, гр.</th>
            <th style="width:11%">% от нормы</th>

        </thead>
        <tbody>
        <tr style="background-color: #eebef1">
            <td colspan="3" style="text-align: center">Завтрак</td>
        </tr>
        {% for item in values[0] %}
            <tr style="background-color: #eebef1">
            <td {% if values[6][loop.index-1] %}style="background-color: #ed938e"{% endif %}>
                    <select name="product_1_{{ loop.index }}" style="background-color: #eebef1" class="form-control">
      <option>{{ item[0] }}</option>
        {% for product in products %}
            <option>{{ product }}</option>
        {% endfor %}
                    </select>
            </td>
            <td>
      <input style="background-color: #eebef1" type="number" step="1" min="{{ item[1] }}" max="{{ item[1] }}" name="count_1_{{ loop.index }}" value="{{ item[1] }}">
            </td>
            <td>{{ values[9][loop.index-1] }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <div class="block" style="display: inline-block;width: 30%">

    <a><div class="p-1" style="background-color: #d9d9d9;text-align: center">
        Элементов: {{ values[4] }}
    </div></a>
    <table class="table table-sm table-inverse" style="margin-right: auto; max-width: 100%">
        <thead>
            <tr class="table-active">
            <th style="width:65%">Продукт</th>
            <th style="width:24%">Вес продукта, гр.</th>
            <th style="width:11%">% от нормы</th>

        </thead>
        <tbody>
        <tr style="background-color: #dcd0ff">
            <td colspan="3" style="text-align: center">Обед</td>
        </tr>
        {% for item in values[1] %}
            <tr style="background-color: #dcd0ff">
            <td {% if values[7][loop.index-1] %}style="background-color: #ed938e"{% endif %}>
                    <select name="product_2_{{ loop.index }}" style="background-color: #dcd0ff" class="form-control">
      <option>{{ item[0] }}</option>
        {% for product in products %}
            <option>{{ product }}</option>
        {% endfor %}
                    </select>
            </td>
            <td>
      <input style="background-color: #dcd0ff" type="number" step="1" min="{{ item[1] }}" max="{{ item[1] }}" name="count_2_{{ loop.index }}" value="{{ item[1] }}">
            </td>
            <td>{{ values[10][loop.index-1] }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <div class="block" style="display: inline-block;width: 30%">

    <a><div class="p-1" style="background-color: #d9d9d9;text-align: center">
        Элементов: {{ values[5] }}
    </div></a>
    <table class="table table-sm table-inverse" style=" margin-right: auto; max-width: 100%">
        <thead>
            <tr class="table-active">
            <th style="width:65%">Продукт</th>
            <th style="width:24%">Вес продукта, гр.</th>
            <th style="width:11%">% от нормы</th>

        </thead>
        <tbody>
        <tr style="background-color: #afdafc">
            <td colspan="3" style="text-align: center">Ужин</td>
        </tr>
        {% for item in values[2] %}
            <tr style="background-color: #afdafc">
            <td {% if values[8][loop.index-1] %}style="background-color: #ed938e"{% endif %}>
                    <select name="product_3_{{ loop.index }}" style="background-color: #afdafc" class="form-control">
      <option>{{ item[0] }}</option>
        {% for product in products %}
            <option>{{ product }}</option>
        {% endfor %}
                    </select>
            </td>
            <td>
      <input style="background-color: #afdafc" type="number" step="1" min="{{ item[1] }}" max="{{ item[1] }}" name="count_3_{{ loop.index }}" value="{{ item[1] }}">
            </td>
            <td>{{ values[11][loop.index-1] }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% if result %}
    <h4 style="margin-left: 5%">Итог:</h4>
    <div style="background-color: {{ result[1] }};margin-left: 5%;width: 90%">
        <p style="margin-left: 1%">Статус: {{ result[4] }}</p><br>
        <a style="margin-left: 1%">Сума витамина К в мл.гр. - {{ result[3] }}</a><br>
        <a style="margin-left: 1%">Процент от нормы витамина К: {{ result[2] }}%</a><br>
        <p style="margin-left: 1%">Сумарный вес всех продуктов: {{ result[7] }}гр.</p>
        {% if result[5] %}
            <a style="margin-left: 1%">Продукты, которые могут усиливать действие "Варфарина"</a>
            <ul style="background-color: #ed938e">
            {% for item in result[6] %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}


    <button style="margin-left: 5%" type="submit" class="btn btn-primary" name="complete">Вернуться</button>

</form>
{% endblock %}
