{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center">Создание расписания продуктов на день</h1>
<form action="" method="post">

                <div class="form-group" style="width: 20%;margin-left: 5%">
        <label for="inputDate">Введите дату:</label>
        <input type="date" name="date" value="{{ date }}" class="form-control">
    </div>

    <div class="block" style="margin-left: 5%; display: inline-block;width: 30%">

    <button type="submit" class="btn btn-primary" name="add_button_1">Добавить ячейку</button>
    <table class="table table-sm table-inverse" style="margin-right: auto; max-width: 100%">
        <thead>
            <tr class="table-active">
            <th style="width:73%">Продукт</th>
            <th style="width:27%">Вес продукта, гр.</th>

        </thead>
        <tbody>
        <tr style="background-color: #eebef1">
            <td colspan="2" style="text-align: center">Завтрак</td>
        </tr>
        {% for item in values[0] %}
            <tr style="background-color: #eebef1">
            <td {% if values[3][loop.index-1] %}style="background-color: #ed938e"{% endif %}>
                    <select id="t_1_{{ loop.index }}" name="product_1_{{ loop.index }}" style="background-color: #eebef1" class="form-control livesearch">
                    </select>
            </td>
            <td>
      <input style="background-color: #eebef1" required type="number" step="1" min="0" max="5000" name="count_1_{{ loop.index }}" value="{{ item[1] }}">
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <div class="block" style="display: inline-block;width: 30%">

        <button type="submit" class="btn btn-primary" name="add_button_2">Добавить ячейку</button>
    <table class="table table-sm table-inverse" style="margin-right: auto; max-width: 100%">
        <thead>
            <tr class="table-active">
            <th style="width:73%">Продукт</th>
            <th style="width:27%">Вес продукта, гр.</th>

        </thead>
        <tbody>
        <tr style="background-color: #dcd0ff">
            <td colspan="2" style="text-align: center">Обед</td>
        </tr>
        {% for item in values[1] %}
            <tr style="background-color: #dcd0ff">
            <td {% if values[4][loop.index-1] %}style="background-color: #ed938e"{% endif %}>
                    <select id="t_2_{{ loop.index }}" name="product_2_{{ loop.index }}" style="background-color: #dcd0ff" class="form-control livesearch">

                    </select>
            </td>
            <td>
      <input style="background-color: #dcd0ff" required type="number" step="1" min="0" max="5000" name="count_2_{{ loop.index }}" value="{{ item[1] }}">
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <div class="block" style="display: inline-block;width: 30%">

        <button type="submit" class="btn btn-primary" name="add_button_3">Добавить ячейку</button>
    <table class="table table-sm table-inverse" style=" margin-right: auto; max-width: 100%">
        <thead>
            <tr class="table-active">
            <th style="width:73%">Продукт</th>
            <th style="width:27%">Вес продукта, гр.</th>

        </thead>
        <tbody>
        <tr style="background-color: #afdafc">
            <td colspan="2" style="text-align: center">Ужин</td>
        </tr>
        {% for item in values[2] %}
            <tr style="background-color: #afdafc">
            <td {% if values[5][loop.index-1] %}style="background-color: #ed938e"{% endif %}>
                    <select id="t_3_{{ loop.index }}" name="product_3_{{ loop.index }}" style="background-color: #afdafc" class="form-control livesearch">

                    </select>
            </td>
            <td>
      <input style="background-color: #afdafc" type="number" required step="1" min="0" max="5000" name="count_3_{{ loop.index }}" value="{{ item[1] }}">
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% if result %}
    <h4 style="margin-left: 5%">Итог:</h4>
    <div style="background-color: {{ result[1] }};margin-left: 5%;width: 90%">
        <p style="margin-left: 1%">Статус: {{ result[4] }}</p><br>
        <a style="margin-left: 1%">Суточная норма: 65-80 мл.гр.</a><br>
        <a style="margin-left: 1%">Сума витамина К в мл.гр. - {{ result[3] }}</a><br>
        <a style="margin-left: 1%">Процент от нормы витамина К: {{ result[2] }}%</a><br>
        <p style="margin-left: 1%">Сумарный вес всех продуктов: {{ result[7] }}гр.</p>
        {% if result[5] %}
            <a style="margin-left: 1%">Продукты, которые могут усиливать действие "Варфарина"</a>
            <ul style="background-color: #ed938e">
            {% for item in result[6] %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}

    <div>
    <button style="margin-left: 5%" type="submit" class="btn btn-secondary">Обновить показания</button>
    <button type="submit" class="btn btn-primary" name="complete">Завершить</button>
    </div>
</form>


<script>
function getProducts() {
    return '{% for product in products %}<option {% if product[1] %}style="background-color: #ed938e"{% endif %}>{{ product[0] }}</option>\
            {% endfor %}';
}

{% for item in values[0] %}
document.getElementById("t_1_{{ loop.index }}").innerHTML = '<option {% if values[3][loop.index] %}style="background-color: #ed938e"{% endif %}>{{ item[0] }}</option>' + getProducts();
{% endfor %}
{% for item in values[1] %}
document.getElementById("t_2_{{ loop.index }}").innerHTML = '<option {% if values[4][loop.index] %}style="background-color: #ed938e"{% endif %}>{{ item[0] }}</option>' + getProducts();
{% endfor %}
{% for item in values[2] %}
document.getElementById("t_3_{{ loop.index }}").innerHTML = '<option {% if values[5][loop.index] %}style="background-color: #ed938e"{% endif %}>{{ item[0] }}</option>' + getProducts();
{% endfor %}


$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript">
      $(".livesearch").chosen();
</script>

{% endblock %}
