{% extends "base.html" %}

{% block content %}
<a style="margin-left: 1%;" data-toggle="tooltip" data-placement="bottom" title="Вернуться на начальную страницу" href="/" class="btn btn-info">
        На главную</a>
<h1 style="text-align: center">Информация связанная с витамином К</h1>

<div style="background-color: #fffaf0;margin-left: auto; margin-right: auto; max-width: 72%">
    <h4>Памятка для людей, принимающих Варфарин (актуальна только при приёме Варфарина)</h4>
    <h6 style="color: red;">Прежде чем пользоваться этим калькулятором обязательно проконсультируйтесь с вашим врачом</h6>
    <ul>
        <li>Для достижения стабильного значения целевого МНО необходимо <b>ежедневное поступление с пищей постоянного количеста витамина K</b> (на уровне 65–80 мкг/сутки)</li>
        <li>МНО – показатель, отражающий степень разжижения крови при приеме Варфарина</li>
        <li>Чем МНО выше, тем кровь более жидкая</li>
        <li>Чем МНО ниже, тем кровь более густая</li>
        <li>Показатель МНО зависит от всего, что мы употребляем: продукты питания, напитки, лекарства, БАД, поливитамины,  лекарственные травы</li>

        <li>Варфарин– препарат, который разжижает кровь и, тем самым, предотвращает образование тромбов у Вас</li>
        <li>Варфарин разжижает кровь, блокируя действие витамина К, который, в свою очередь, сгущает кровь</li>
        <li>Витамина К в разных количествах содержится в пище</li>
        <li>Поэтому прием лекарств, БАДов, поливитаминов, лекарственных трав – только после консультации с врачом</li>
        <li>Регулярное употребление ягод и сока клюквы может усилить действие Варфарина! Поэтому рекомендовано пить клюквенный сок в минимальных количествах или не пить его вообще!</li>

        <li>Рекомендованое употребление витамина К в пределах от 65 до 80 мк.г/сутки</li>
        <li>При употреблении витамина К менее 65мкг/сутки кровь будет в большей степени разжижена, это опасно кровотечениями</li>
        <li>При употреблении витамина К более 80мкг/сутки кровь будет более густой, это опасно тромбозами</li>



    </ul>



</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
