{% extends "base.html" %}

{% block content %}
<a style="margin-left: 1%;" data-toggle="tooltip" data-placement="bottom" title="Вернуться на начальную страницу" href="/" class="btn btn-info">
        На главную</a>
<h1 style="text-align: center">Информация связанная с витамином К</h1>

<div style="background-color: #fffaf0;margin-left: auto; margin-right: auto; max-width: 72%">
    <h4>Памятка для людей, принимающих Варфарин</h4>
    <ul>
        <li>Варфарин– препарат, который разжижает кровь и, тем самым, предотвращает образование тромбов у Вас</li>
        <li>Варфарин разжижает кровь, блокируя действие витамина К, который, В свою очередь, сгущает кровь</li>
        <li>Витамина К в разных количествах содержится в пище</li>
        <li>Для достижения стабильного значения целевого МНО необходимо <b>ежедневное поступление с пищей постоянных количеств витамина K</b> (на уровне 65–80 мкг/сутки)</li>
        <li>При употреблении витамина К менее 65мкг/сутки кровь будет в большей степени разжижена, это опасно кровотечениями</li>
        <li>При употреблении витамина К более 80мкг/сутки кровь будет более густой, это опасно тромбозами</li>
        <li>МНО – показатель, отражающий степень разжижения крови при приеме Варфарина</li>
        <li>Чем МНО выше, тем кровь более жидкая</li>
        <li>Чем МНО ниже, тем кровь более густая</li>
        <li>Также показатель МНО зависит от всего, что мы употребляем: продукты питания, напитки, лекарства, БАД, поливитамины,  лекарственные травы</li>
        <li>Поэтому прием лекарств, БАДов, поливитаминов,  лекарственных трав – только после консультации с врачом</li>
        <li>Регулярное употребление ягод и сока клюквы может усилить действие Варфарина! Поэтому рекомендовано пить клюквенный сок в минимальных количествах или не пить его вообще!</li>
        <li>Сообщите врачу, если у вас проблемы с пищеварением более 1 дня (тошнота, рвота, нарушение стула)</li>
        <li>Не следует вступать в интенсивную программу похудения во время приема варфарина</li>

    </ul>



</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
